
/*Parte da homepage*/
body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; 
}

#Fullscreen {
  background-image: url(/src/assets/ReciClagi.jpg); 
  border:rgb(236, 162, 0) 0.5vh solid ;
  display: inherit;
  height:60vh;
  margin: 3vh;
  border-radius: 8px;
  text-align: center;
}
#Fullscreen article {
  background-color: #ffffff; 
  padding: 2vh;
  border-radius: 8px;
  color: #ff8801;
}
#Fullscreen h1{
  font-size: 48pt;
  font:lighter;
  font-family: Impact;
  text-shadow: #e96b00 2px;

}
/*Parte da homepage*/

.logo {
  height: max-content;
  width: 10%;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


a{
  color: black;
  padding: 1vh;
  cursor: pointer;
}
#menubar{
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: rgb(255, 255, 255);
  align-items: center;
  max-height: fit-content;
  border-bottom:2px solid rgb(230, 230, 230) ;
  
}
label{
  float: left;
}

 ul {
  padding: 0;
  flex-direction: row-reverse;
  display: inherit;
  list-style: none;
  margin: 0px 10px 0px 10px;
  width: 70%;
  
}


#menubar li a{
 color: rgb(99, 99, 99);
}
#menubar li a:hover{
  color: rgb(255, 167, 35);
 }
#menubar img{
 padding: 5px;
 height: 60px;
}


#LogoTipo{
 background-color: rgb(236, 162, 0);
 display: inherit;
 max-height: inherit;
 padding: 6px;
 border-radius: 8px;
}
#LogoTipo p{
   font-size: 15pt ;
 font-weight: lighter;
 padding-left: 2.5vh;
 padding-right: 2.5vh;
 color: aliceblue;
}

