@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');



.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.formLogin, .formReset {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
}

.formLogin h1, .formReset h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p, .formReset p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input, .formReset input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus, .formReset input:focus {
    border: 1px solid #f72585;
}

.formLogin label, .formReset label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a, .formReset a {
    display: inline-block;
    font-size: 13px;
    color: #555;
    margin-top: 10px;
    transition: all linear 160ms;
}

.formLogin a:hover, .formReset a:hover {
    color: #f72585;
    text-decoration: underline;
}

.btn {
    background-color: #f72585;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all linear 160ms;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #ff0676;
}

.error-message, .success-message {
    margin-top: 0.5rem;
    font-size: 0.875rem;
}

.error-message {
    color: red;
    display: none;
}

.success-message {
    color: green;
    display: none;
}

.back-link {
    display: inline-block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    text-decoration: underline;
}
