
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

a{
  padding: 3vh;
  cursor: pointer;
}
#menubar{
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: rgb(255, 255, 255);
  align-items: center;
  max-height: fit-content;
}
label{
  float: left;
}

 ul {
  padding: 0;
  flex-direction: row-reverse;
  display: inherit;
  list-style: none;
  width: 80%;
  
}
#menubar li {
 
}

#menubar li a{
 color: rgb(99, 99, 99);
}
#menubar li a:hover{
  color: rgb(255, 167, 35);
 }
#menubar img{
 padding: 5px;
 max-width: 60px ;
 max-height: 60px ;
}